Options +FollowSymLinks
RewriteEngine On
RewriteBase /douzo


RewriteRule ^$ index.php [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\.php|robots\.txt|assets|favicon\.ico)

RewriteRule ^(.*)$ index.php?/$1 [L] 